useDynLib(cmp)

importFrom("stats", "gaussian", "lm.fit", "make.link")
import(mgcv)

export(gam.cmp,
       gam.perf1,
       summary.gam.cmp,
       summary.gam1,
       gam.fit.cmp,
	gam.fit.cmp1,
       cmp,
       gam.fit.cmp1,LogFactorial,
       asym.cumulants,
       asym.com.log.z,
       com.log.z,
       CMPCumulants,
       CMP.dev,
       rcmp,
       print.summary.gam1,
       print.summary.gam.cmp,
	predict.gam.cmp,
	plot.gam.cmp)
